.social {
	position: absolute;
	top: 2rem;
	right: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-size: var(--font-size-xs);
}

.social ul {
	display: flex;
	list-style: none;
	margin-left: 0.5rem;
}

.social li {
	padding: 0 0.25rem;
}
