:root {
	--color-primary: #f54b4b;
	--color-secondary: #be0a37;
	--color-black: #1a1b1d;
	--color-white: #ffffff;
	--color-grey-25: #e7e7e8;

	--font-weight-black: 700;
	--font-weight-bold: 600;
	--font-weight-medium: 500;
	--font-weight-regular: 400;
	--font-weight-light: 300;

	--font-family-primary: 'Barlow', sans-serif;
	--font-family-secondary: 'Barlow Semi Condensed', sans-serif;

	--font-size-xxl: 62px;
	--font-size-xl: 38px;
	--font-size-l: 28px;
	--font-size-m: 21px;
	--font-size-s: 16px;
	--font-size-xs: 14px;
	--font-size-xxs: 12px;

	--breakpoint-xl: 1248px;
	--breakpoint-l: 992px;
	--breakpoint-m: 768px;
	--breakpoint-s: 576px;
	--breakpoint-xs: 320px;
}
